

body {
  background: #333;
  color:#fff;
  font-family: 'Climate Crisis', cursive;
  font-family: 'Roboto', sans-serif;
  
}

.navbar{
  box-shadow: 2px 2px 5px rgba(119, 105, 0, 0.502);
  border-bottom:#f3f3f3 3px solid;
  padding: 12px 0;
  box-shadow: 10px;
}

.navbar .nav-item{
  font-size: 1.5rem;
  padding-right: 1.4rem;
}

#home-head-section {
   background: url(../img/image1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   min-height: 700px;
}

 #home-head-section .dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(202, 148, 12, 0.9);
 }

 #home-head-section .home-inner {
  padding-top: 150px;
 }

 #home-head-section .card-form{
  opacity: 0.8;
 }

 #home-head-section .fas{
  color: #fff;
  background: #333;
  padding: 5px;
  border-radius: 5px;
 }

 .form-group{
 margin: 20px;
 padding: 5px 20px;
 border-radius: 5px;

 }

/* Responsive image gallery rules begin*/
.gallery li{
  display: inline-block;
  width: 100%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 246, 141, 0.4);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #000;
  font-weight: 600;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

a, a:visited, a:active{
  text-decoration: none;
}

.social-media{
  display: inline-block;
  width: 14.285%;
  box-sizing: border-box;
  margin: 20px 30px;
  padding: 20px 30px;
  vertical-align: top;
}

#about-section .fas {
  background: #333;
  padding: 5px;
  border-radius: 5px;
}

#about-section {
  background: url(../img/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  
}

#about-section .dark-overlay2{
 position: absolute;
 bottom: auto;
 left: 0;
 width: 100%;
 min-height: 300px;
 background: rgba(202, 148, 12, 0.9);
 }


#about-section .fas{
  background: #333;
  border-radius: 5px;
  padding: 5px;
}